/* title*/
.title{
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bolder;
    font-size:20px;
    padding-left: 10px;
}


li{
list-style-type: none;
display: inline;
text-align: center;
padding: 10px;
font-weight: lighter;

}
#nav-elements{
    text-align: right;
    padding: 50px;
}
/*image web 3 desktop */
#image{
    height: 160px;
    width: 400px;
    margin-left: 70px;
}
/*bottom of the web 3 desktop image */
.para{
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
}
#sub-para{
    font-weight: bolder;
    font-size: large;
    padding: -30px;
}
button{
    background-color: orangered;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 120px;
    border: white;
}
/* div display arrangement*/
#flex{
    display: flex;
}
#right{
    background-color: rgb(1, 1, 34);
    color: white;
    margin-right: 60px;
    padding: 10px;
}
#bottom{
    display: flex;
}
#img1{
    height: 150px;
    width: 100px;
    padding: 10px;
}
h3{
    color: gold;
    margin-left: 10px;
}
h5{
    margin-left: 10px;
}
p{
    font-size: small;
    margin-left: 10px;
}
